.debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
}

#root {
  background-image: url(../img/stazione-treni.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

#ticket-gen > *,
#output-section h2,
#sidebar {
  background-color: #ffffff;
}

#input-name,
#input-distance,
#input-age {
  background-color: lightyellow;
}

#output-section {
  max-width: 512px;
}

#sidebar > .content {
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  padding-right: 15px;
  padding-left: 15px;
  scroll-behavior: smooth;
}
